@using INTEREST.WEB.ViewModels
@model UserProfileViewModel

@{
    ViewData["Title"] = "UserProfile";
}

<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-3">

            <div class="text-center">
                @if (Model.Avatar == "Default")

                {
                    <img  width="200px" height="200px" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                }
                else
                {
                    <img src="@Model.Avatar" class="rounded-circle" alt="avatar" />
                }

                <hr>

                <h4>@Html.DisplayFor(model => model.UserName)</h4>

                <form asp-action="AddAvatar" asp-controller="UserProfile" method="post" enctype="multipart/form-data">
                    <label class="btn btn-primary" for="my-file-selector">
                        <input id="my-file-selector" name="formFile" type="file" class="d-none">
                        Select your avatar
                    </label>
                    <label class="btn btn-warning" for="my-save">
                        <input id="my-save" type="submit" class="btn btn-warning d-none" name="submit" >
                        Save
                    </label>
                </form>

            </div>

            @*<hr>
            <div class="panel panel-default">
                <div class="panel-heading">Last Logged <i class="fa fa-link fa-1x"></i></div>
                <div class="panel-body">Today at 2:18 pm</div>
            </div>*@

            <hr>

            <ul class="list-group">
                <li class="list-group-item text-muted">Personal Menu<i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong> @Html.ActionLink("Create Event", "CreateEvent", "Event") </strong></span> </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong> @Html.ActionLink("My Events", "UserEvents", "Event") </strong></span></li>
                @*<li class="list-group-item text-right"><span class="pull-left"><strong> @Html.ActionLink("My Messages", "MyMessages", "Message") </strong></span></li>*@
            </ul>

        </div><!--/col-3-->

        <div class="col-sm-9">
            <div class="text-center">
                <h4> Your Personal Info </h4>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <h6> @Html.DisplayNameFor(model => model.UserName) </h6>
                    <input disabled asp-for="UserName" class="form-control" placeholder="enter your username name if any" required autofocus />
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6">
                    <h6>@Html.DisplayNameFor(model => model.Email)</h6>
                    <input disabled asp-for="Email" class="form-control" placeholder="enter your e-mail if any" required autofocus />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h6>@Html.DisplayNameFor(model => model.Phone)</h6>
                            <input disabled asp-for="Phone" class="form-control" placeholder="enter your phone if any" required autofocus />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h6>@Html.DisplayNameFor(model => model.Age)</h6>
                            <input disabled asp-for="Age" class="form-control" placeholder="enter your age if any" required autofocus />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h6>@Html.DisplayNameFor(model => model.Country)</h6>
                            <input disabled asp-for="Country" class="form-control" placeholder="enter your country if any" required autofocus />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h6>@Html.DisplayNameFor(model => model.City)</h6>
                            <input disabled asp-for="City" class="form-control" placeholder="enter your city if any" required autofocus />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="col-xs-6">
                            <h6>@Html.DisplayNameFor(model => model.Gender)</h6>
                            <input disabled asp-for="Gender" class="form-control" placeholder="enter your gender if any" required autofocus />
                        </div>
                    </div>
                </div>
                <div class="col">

                </div>
            </div>

            <hr>

            <div class="text-center">
                <h4> Your Favourite Categories </h4>
            </div>

            <div class="text-center">
                @foreach (var item in Model.UserCategories)
                {
                    <button type="button" class="btn btn-primary disabled" aria-pressed="true">@item</button>
                }
            </div>
            <form asp-controller="UserProfile" asp-action="SelectCategories" method="get">
                <button type="submit" class="btn btn-sm btn-warning">
                    Select Favorite Categories
                </button>
            </form>

            <hr>

            <div class="row d-flex justify-content-center">
                <form asp-controller="UserProfile" asp-action="EditProfile" method="get">
                    <button type="submit" class="btn btn-sm btn-warning">
                        Edit Your Profile
                    </button>
                </form>
                &nbsp;
                <form asp-controller="UserProfile" asp-action="DeleteProfile" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete Account
                    </button>
                </form>
            </div>

        </div><!--/col-9-->
    </div><!--/row-->
 </div>




