@model INTEREST.WEB.ViewModels.EventViewModel

@{
    ViewData["Title"] = "EditEvent";
}

<h2>EditEvent</h2>

<hr />
<div class="row">
    <div class="col-md-4">


        <form asp-action="EditEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <img src="@Model.URL" width="450" height="250">

            <div class="form-group">
                <input type="file" required name="formFile" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" required class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" required class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateTo" class="control-label"></label>
                <input asp-for="DateTo" class="form-control" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="country" class="control-label"></label>
                <input asp-for="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="city_state" class="control-label"></label>
                <input asp-for="city_state" class="form-control" />
                <span asp-validation-for="city_state" class="text-danger"></span>
            </div>

            <ul class="ks-cboxtags">
                @foreach (var item in Model.Categories)
                {
                    <li>
                        <input name="SelectedCategories" type="checkbox" id="@item.Id" @if (Model.SelectedCategories.Contains(item.Name)) { <text> checked </text> } value="@item.Name">
                        <label for="@item.Id">@item.Name</label>
                    </li>
                }
            </ul>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

        </form>
    </div> 
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

