@using INTEREST.BLL.DTO
@model List<EventInfoDTO>
@{
    ViewData["Title"] = "Events";
}

<link href="~/css/home_index.css" rel="stylesheet" type="text/css" />

<section class="container">

    <h1>Events</h1>

    @foreach (var item in Model)
    {
        <div class="row">
            <article class="card fl-left">


                <section class="date">
                    <time datetime="@item.DateFrom.Day feb">
                        <span>@item.DateFrom.Day</span><span>@item.DateFrom.ToString("MMMM")</span>
                    </time>
                </section>


                <section class="card-cont">
                    <small>@item.UserName</small>
                    <h3>@item.EventName</h3>

                    <div class="even-date">
                        <i class="fa fa-calendar"></i>
                        <time>
                            <span>@item.DateFrom.ToString("dddd") @item.DateFrom.Day @item.DateFrom.ToString("MMMM") @item.DateFrom.Year @item.DateFrom.Hour:@item.DateFrom.Minute to</span>
                            <span>@item.DateTo.ToString("dddd") @item.DateTo.Day @item.DateTo.ToString("MMMM") @item.DateTo.Year @item.DateTo.Hour:@item.DateTo.Minute</span>
                        </time>
                    </div>

                    <div class="even-info">
                        <i class="fa fa-map-marker"></i>
                        <p>
                            @item.EventText
                        </p>
                    </div>

                    <div class="image">
                        <img width="250px" height="150px" src="@item.URL">
                    </div>



                </section>

                @if (item.UserName == User.Identity.Name || User.IsInRole("Admin"))
                {
                    <a asp-action="DeleteEvent" asp-controller="Event" asp-route-event_id="@item.EventId"> DELETE EVENT </a>
                }

                <a asp-action="EditEvent" asp-controller="Event" asp-route-event_id="@item.EventId">EDIT EVENT</a>


            </article>
        </div>
    }

</section>
