@model INTEREST.WEB.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "Profile";
}
<h2>ПРОФАЙЛ</h2>

@*<p>@Model.UserName</p>
<p>@Model.Email</p>
<p>@Model.Year</p>
<p>@Model.Location</p>
<p>@Model.PhoneNumber</p>
<p>@Model.Gender</p>*@
