@using INTEREST.WEB.ViewModels
@model UserProfileViewModel

@{
    ViewData["Title"] = "UserProfile";
}
<h2>ПРОФАЙЛ</h2>

<p>Username: @Model.UserName</p>
<p>E-mail: @Model.Email</p>
<p>Age: @Model.Age</p>
<p>Location: @Model.Location</p>
<p>Mobile Phone: @Model.Phone</p>
<p>Gender: @Model.Gender</p>


